/* screen - bookcourse */

.bookcourse {
  background-color: var(--ecru-white);
  border: 1px none;
  margin: 0px;
  min-height: 1024px;
  min-width: 1440px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.bookcourse .bar-gfIxml {
  background-color: var(--medium-carmine);
  height: 100px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.bookcourse .logo-tk7Fbu {
  background-color: var(--don-juan);
  box-shadow: 0px 4px 4px #00000040;
  height: 100px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 254px;
}

.bookcourse .union-logo-1-fKYtVe {
  background-color: transparent;
  height: 100px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 254px;
}

.bookcourse .book-a-field-gfIxml {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: 42px;
  left: 608px;
  padding: 7px 9px 7px 25px;
  position: absolute;
  top: 970px;
  width: 191px;
}

.bookcourse .check-out-z5Qm2Z {
  background-color: transparent;
  height: 34.999996185302734px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-bottom: -6.00px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 154.99998474121094px;
}

.bookcourse .join-course-gfIxml {
  background-color: transparent;
  height: auto;
  left: 634px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 263px;
  white-space: nowrap;
  width: 218px;
}

.bookcourse .frame-18-gfIxml {
  background-color: transparent;
  height: 172px;
  left: 523px;
  mix-blend-mode: normal;
  position: absolute;
  top: 313px;
  width: 394px;
}

.bookcourse .frame-19-gfIxml {
  height: 42px;
  left: 488px;
  top: 494px;
  width: 440px;
}

.bookcourse .fixed-one-court-uAII7t {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: auto;
}

.bookcourse .frame-21-gfIxml {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--black);
  height: 36px;
  left: 483px;
  overflow: hidden;
  position: absolute;
  top: 915px;
  width: 440px;
}

.bookcourse .frame-19-ZxND87 {
  height: 65px;
  left: 0px;
  top: 0px;
  width: 440px;
}

.bookcourse .cost-ZxND87 {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.bookcourse .frame-19-djgdSC {
  height: 36px;
  left: 483px;
  top: 787px;
  width: 440px;
}

.bookcourse .phone-1tzyWZ {
  background-color: transparent;
  border: 0;
  height: 35px;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  padding: 0;
  position: relative;
  resize: none;
  text-align: left;
  top: 0px;
  width: 65px;
}

.bookcourse .phone-1tzyWZ::placeholder {
  color: #00000099;
}

.bookcourse .frame-23-gfIxml {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--black);
  height: 35px;
  left: 488px;
  overflow: hidden;
  position: absolute;
  top: 608px;
  width: 440px;
}

.bookcourse .name-BBOxPx {
  background-color: transparent;
  border: 0;
  height: 35px;
  left: 5px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  padding: 0;
  position: relative;
  resize: none;
  text-align: left;
  top: 0px;
  width: 56px;
}

.bookcourse .name-BBOxPx::placeholder {
  color: #00000099;
}

.bookcourse .frame-20-gfIxml {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--black);
  height: 36px;
  left: 483px;
  overflow: hidden;
  position: absolute;
  top: 725px;
  width: 440px;
}

.bookcourse .frame-19-NL909W {
  height: 65px;
  left: 0px;
  top: 0px;
  width: 440px;
}

.bookcourse .email-NL909W {
  background-color: transparent;
  border: 0;
  height: 35px;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 1px;
  width: 55px;
}

.bookcourse .email-NL909W::placeholder {
  color: #00000099;
}

.bookcourse .frame-19-uJ5WKZ {
  height: 35px;
  left: 389px;
  top: 849px;
  width: 188px;
}

.bookcourse .card-number-tSVG9l {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.bookcourse .frame-25-gfIxml {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--black);
  height: 35px;
  left: 839px;
  overflow: hidden;
  position: absolute;
  top: 849px;
  width: 188px;
}

.bookcourse .cvv-a22vyp {
  background-color: transparent;
  border: 0;
  height: 35px;
  left: 10px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  padding: 0;
  position: relative;
  resize: none;
  text-align: left;
  top: 0px;
  width: 49px;
}

.bookcourse .cvv-a22vyp::placeholder {
  color: #00000099;
}

.bookcourse .frame-24-gfIxml {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--black);
  height: 35px;
  left: 614px;
  overflow: hidden;
  position: absolute;
  top: 849px;
  width: 188px;
}

.bookcourse .exp-GMUY74 {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.bookcourse .frame-22-gfIxml {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--black);
  height: 36px;
  left: 739px;
  overflow: hidden;
  position: absolute;
  top: 554px;
  width: 189px;
}

.bookcourse .fixed-time-8DSKKL {
  background-color: transparent;
  height: auto;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1px;
  width: auto;
}

.bookcourse .frame-26-gfIxml {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--black);
  height: 36px;
  left: 488px;
  overflow: hidden;
  position: absolute;
  top: 553px;
  width: 189px;
}

.bookcourse .fixed-date-xY1CPX {
  background-color: transparent;
  height: auto;
  left: 7px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1px;
  width: auto;
}

.bookcourse .frame-27-gfIxml {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--black);
  height: 36px;
  left: 739px;
  overflow: hidden;
  position: absolute;
  top: 663px;
  width: 189px;
}

.bookcourse .group-4TQgrG {
  background-color: transparent;
  height: auto;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.bookcourse .frame-28-gfIxml {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--black);
  height: 36px;
  left: 488px;
  overflow: hidden;
  position: absolute;
  top: 662px;
  width: 189px;
}

.bookcourse .age-GmBVC5 {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.bookcourse .ellipse-27-gfIxml {
  background-color: var(--jordy-blue);
  border-radius: 29.5px;
  height: 59px;
  left: 634px;
  mix-blend-mode: normal;
  position: absolute;
  top: 139px;
  width: 59px;
}

.bookcourse .step2-gfIxml {
  background-color: transparent;
  height: auto;
  left: 710px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 144px;
  width: auto;
}

.bookcourse .ellipse-26-gfIxml {
  background-color: var(--apple);
  border-radius: 29.5px;
  height: 59px;
  left: 320px;
  mix-blend-mode: normal;
  position: absolute;
  top: 139px;
  width: 59px;
}

.bookcourse .step1-gfIxml {
  background-color: transparent;
  height: auto;
  left: 396px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 144px;
  width: auto;
}

.bookcourse .x5097977-1-gfIxml {
  background-color: transparent;
  height: 64px;
  left: 320px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 64px;
}

.bookcourse .arrow-1-gfIxml {
  background-color: transparent;
  height: 22px;
  left: 497px;
  position: absolute;
  top: 158px;
  width: 121px;
}

.bookcourse .tabs-gfIxml {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 77px;
  height: auto;
  left: 485px;
  position: absolute;
  top: 26px;
  width: fit-content;
}

.bookcourse .home-jtOctd {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  pointer-events: auto;
  position: relative;
  text-align: left;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: fit-content;
}

.bookcourse .home-jtOctd:hover {
  color: #ff6b00
}

.bookcourse .service-jtOctd {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  pointer-events: auto;
  position: relative;
  text-align: left;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: fit-content;
}

.bookcourse .service-jtOctd:hover {
  color: #FF6B00
}

.bookcourse .empolyee-jtOctd {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  pointer-events: auto;
  position: relative;
  text-align: left;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: fit-content;
}

.bookcourse .empolyee-jtOctd:hover {
  color: #FF6B00
}

.bookcourse .contact-us-jtOctd {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  pointer-events: auto;
  position: relative;
  text-align: left;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: fit-content;
}

.bookcourse .contact-us-jtOctd:hover {
  color: #FF6B00
}

.bookcourse .book-a-field-jtOctd {
  height: 44.00000762939453px;
  min-width: 179.00003051757812px;
  position: relative;
}

.bookcourse .book-now-8fPWf6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 7px;
  transition: all 0.2s ease;
  width: 205px;
}

.bookcourse .book-now-8fPWf6:hover {
}

.bookcourse .frame-19 {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--black);
  overflow: hidden;
  position: absolute;
}
