/* screen - bookfield */

.bookfield {
  background-color: var(--ecru-white);
  border: 1px none;
  margin: 0px;
  min-height: 1024px;
  min-width: 1440px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.bookfield .bar-XLtef8 {
  background-color: var(--medium-carmine);
  height: 100px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.bookfield .logo-ARt6X1 {
  background-color: var(--don-juan);
  box-shadow: 0px 4px 4px #00000040;
  height: 100px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 254px;
}

.bookfield .union-logo-1-ga6cJR {
  background-color: transparent;
  height: 100px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 254px;
}

.bookfield .book-a-field-XLtef8 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: 42px;
  left: 608px;
  padding: 7px 9px 7px 25px;
  position: absolute;
  top: 970px;
  width: 191px;
}

.bookfield .check-out-5Ky9go {
  background-color: transparent;
  height: 34.999996185302734px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-bottom: -6.00px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 154.99998474121094px;
}

.bookfield .title-XLtef8 {
  background-color: transparent;
  height: auto;
  left: 634px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 263px;
  white-space: nowrap;
  width: 218px;
}

.bookfield .frame-18-XLtef8 {
  background-color: transparent;
  height: 172px;
  left: 523px;
  mix-blend-mode: normal;
  position: absolute;
  top: 313px;
  width: 394px;
}

.bookfield .frame-19-XLtef8 {
  height: 42px;
  left: 488px;
  top: 494px;
  width: 440px;
}

.bookfield .fixed-one-court-T9xRwP {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: auto;
}

.bookfield .frame-21-XLtef8 {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--black);
  height: 36px;
  left: 483px;
  overflow: hidden;
  position: absolute;
  top: 915px;
  width: 440px;
}

.bookfield .frame-19-espFi8 {
  height: 65px;
  left: 0px;
  top: 0px;
  width: 440px;
}

.bookfield .cost-espFi8 {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.bookfield .frame-19-lDLqKm {
  height: 36px;
  left: 483px;
  top: 787px;
  width: 440px;
}

.bookfield .phone-AYC1Zt {
  background-color: transparent;
  border: 0;
  height: 35px;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  padding: 0;
  position: relative;
  resize: none;
  text-align: left;
  top: 0px;
  width: 65px;
}

.bookfield .phone-AYC1Zt::placeholder {
  color: #00000099;
}

.bookfield .frame-23-XLtef8 {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--black);
  height: 35px;
  left: 488px;
  overflow: hidden;
  position: absolute;
  top: 608px;
  width: 440px;
}

.bookfield .name-EywRyv {
  background-color: transparent;
  border: 0;
  height: 35px;
  left: 5px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  padding: 0;
  position: relative;
  resize: none;
  text-align: left;
  top: 0px;
  width: 56px;
}

.bookfield .name-EywRyv::placeholder {
  color: #00000099;
}

.bookfield .frame-20-XLtef8 {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--black);
  height: 36px;
  left: 483px;
  overflow: hidden;
  position: absolute;
  top: 725px;
  width: 440px;
}

.bookfield .frame-19-yDzQ16 {
  height: 65px;
  left: 0px;
  top: 0px;
  width: 440px;
}

.bookfield .email-yDzQ16 {
  background-color: transparent;
  border: 0;
  height: 35px;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 1px;
  width: 55px;
}

.bookfield .email-yDzQ16::placeholder {
  color: #00000099;
}

.bookfield .frame-19-z83Y3R {
  height: 35px;
  left: 389px;
  top: 849px;
  width: 188px;
}

.bookfield .card-number-tISqcQ {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.bookfield .frame-25-XLtef8 {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--black);
  height: 35px;
  left: 839px;
  overflow: hidden;
  position: absolute;
  top: 849px;
  width: 188px;
}

.bookfield .cvv-fplZ7v {
  background-color: transparent;
  border: 0;
  height: 35px;
  left: 10px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  padding: 0;
  position: relative;
  resize: none;
  text-align: left;
  top: 0px;
  width: 49px;
}

.bookfield .cvv-fplZ7v::placeholder {
  color: #00000099;
}

.bookfield .frame-24-XLtef8 {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--black);
  height: 35px;
  left: 614px;
  overflow: hidden;
  position: absolute;
  top: 849px;
  width: 188px;
}

.bookfield .exp-gONxEQ {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.bookfield .frame-22-XLtef8 {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--black);
  height: 36px;
  left: 739px;
  overflow: hidden;
  position: absolute;
  top: 554px;
  width: 189px;
}

.bookfield .fixed-time-y48CUo {
  background-color: transparent;
  height: auto;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1px;
  width: auto;
}

.bookfield .frame-26-XLtef8 {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--black);
  height: 36px;
  left: 488px;
  overflow: hidden;
  position: absolute;
  top: 553px;
  width: 189px;
}

.bookfield .fixed-date-IpTVHT {
  background-color: transparent;
  height: auto;
  left: 7px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1px;
  width: auto;
}

.bookfield .frame-27-XLtef8 {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--black);
  height: 36px;
  left: 739px;
  overflow: hidden;
  position: absolute;
  top: 663px;
  width: 189px;
}

.bookfield .group-n8tIIq {
  background-color: transparent;
  height: auto;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.bookfield .frame-28-XLtef8 {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--black);
  height: 36px;
  left: 488px;
  overflow: hidden;
  position: absolute;
  top: 662px;
  width: 189px;
}

.bookfield .age-T3SfeX {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.bookfield .ellipse-27-XLtef8 {
  background-color: var(--jordy-blue);
  border-radius: 29.5px;
  height: 59px;
  left: 634px;
  mix-blend-mode: normal;
  position: absolute;
  top: 139px;
  width: 59px;
}

.bookfield .step2-XLtef8 {
  background-color: transparent;
  height: auto;
  left: 710px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 144px;
  width: auto;
}

.bookfield .ellipse-26-XLtef8 {
  background-color: var(--apple);
  border-radius: 29.5px;
  height: 59px;
  left: 320px;
  mix-blend-mode: normal;
  position: absolute;
  top: 139px;
  width: 59px;
}

.bookfield .step1-XLtef8 {
  background-color: transparent;
  height: auto;
  left: 396px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 144px;
  width: auto;
}

.bookfield .x5097977-1-XLtef8 {
  background-color: transparent;
  height: 64px;
  left: 320px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 64px;
}

.bookfield .arrow-1-XLtef8 {
  background-color: transparent;
  height: 22px;
  left: 497px;
  position: absolute;
  top: 158px;
  width: 121px;
}

.bookfield .tabs-XLtef8 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 77px;
  height: auto;
  left: 485px;
  position: absolute;
  top: 26px;
  width: fit-content;
}

.bookfield .home-Ihu2bx {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  pointer-events: auto;
  position: relative;
  text-align: left;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: fit-content;
}

.bookfield .home-Ihu2bx:hover {
  color: #ff6b00
}

.bookfield .service-Ihu2bx {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  pointer-events: auto;
  position: relative;
  text-align: left;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: fit-content;
}

.bookfield .service-Ihu2bx:hover {
  color: #FF6B00
}

.bookfield .empolyee-Ihu2bx {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  pointer-events: auto;
  position: relative;
  text-align: left;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: fit-content;
}

.bookfield .empolyee-Ihu2bx:hover {
  color: #FF6B00
}

.bookfield .contact-us-Ihu2bx {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  pointer-events: auto;
  position: relative;
  text-align: left;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: fit-content;
}

.bookfield .contact-us-Ihu2bx:hover {
  color: #FF6B00
}

.bookfield .book-a-field-Ihu2bx {
  height: 44.00000762939453px;
  min-width: 179.00003051757812px;
  position: relative;
}

.bookfield .book-now-ThfPof {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 7px;
  transition: all 0.2s ease;
  width: 205px;
}

.bookfield .book-now-ThfPof:hover {
}

.bookfield .frame-19 {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--black);
  overflow: hidden;
  position: absolute;
}
